body {
  display: flex;
  margin: 0; }

#gamearea {
  width: 60vw;
  margin: 2vh auto;
  display: flex;
  flex-direction: column; }
  #gamearea.turnp1 .hole:hover:not(.filled) {
    background-color: #ff9999; }
  #gamearea.turnp2 .hole:hover:not(.filled) {
    background-color: #9999ff; }

.row {
  height: 16vh;
  display: flex; }
  .row::after, .row::before {
    margin: auto;
    content: " ";
    display: block; }

.hole {
  width: 16vh;
  height: 16vh;
  background-color: #e6e6e6;
  border: black 0.5vh solid;
  border-radius: 50%;
  margin: auto 1vh; }

.piecearea {
  width: 20vw;
  height: 95vh;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  border-radius: 2vw; }

#player1 {
  background-color: #ffe6e6; }

#player2 {
  background-color: #e6e6ff; }

.piece {
  width: 16vh;
  height: 16vh;
  border: black 0.5vh solid;
  border-radius: 50%;
  margin: auto; }

.p1 {
  background: red; }
  .p1.inactive {
    background: #ffb3b3; }

.p2 {
  background: blue; }
  .p2.inactive {
    background: #b3b3ff; }

.used {
  background-color: #555; }

.blackHole {
  background: black; }

.sucked {
  background: black; }
  .sucked.p1::before {
    color: red; }
  .sucked.p2::before {
    color: blue; }

.piece-1::before {
  font-size: 10vh;
  color: white;
  display: block;
  width: 16vh;
  height: 16vh;
  vertical-align: middle;
  text-align: center;
  content: "1"; }
.piece-1 {
  line-height: 16vh; }

.piece-2::before {
  font-size: 10vh;
  color: white;
  display: block;
  width: 16vh;
  height: 16vh;
  vertical-align: middle;
  text-align: center;
  content: "2"; }
.piece-2 {
  line-height: 16vh; }

.piece-3::before {
  font-size: 10vh;
  color: white;
  display: block;
  width: 16vh;
  height: 16vh;
  vertical-align: middle;
  text-align: center;
  content: "3"; }
.piece-3 {
  line-height: 16vh; }

.piece-4::before {
  font-size: 10vh;
  color: white;
  display: block;
  width: 16vh;
  height: 16vh;
  vertical-align: middle;
  text-align: center;
  content: "4"; }
.piece-4 {
  line-height: 16vh; }

.piece-5::before {
  font-size: 10vh;
  color: white;
  display: block;
  width: 16vh;
  height: 16vh;
  vertical-align: middle;
  text-align: center;
  content: "5"; }
.piece-5 {
  line-height: 16vh; }

.piece-6::before {
  font-size: 10vh;
  color: white;
  display: block;
  width: 16vh;
  height: 16vh;
  vertical-align: middle;
  text-align: center;
  content: "6"; }
.piece-6 {
  line-height: 16vh; }

.piece-7::before {
  font-size: 10vh;
  color: white;
  display: block;
  width: 16vh;
  height: 16vh;
  vertical-align: middle;
  text-align: center;
  content: "7"; }
.piece-7 {
  line-height: 16vh; }

.piece-8::before {
  font-size: 10vh;
  color: white;
  display: block;
  width: 16vh;
  height: 16vh;
  vertical-align: middle;
  text-align: center;
  content: "8"; }
.piece-8 {
  line-height: 16vh; }

.piece-9::before {
  font-size: 10vh;
  color: white;
  display: block;
  width: 16vh;
  height: 16vh;
  vertical-align: middle;
  text-align: center;
  content: "9"; }
.piece-9 {
  line-height: 16vh; }

.piece-10::before {
  font-size: 10vh;
  color: white;
  display: block;
  width: 16vh;
  height: 16vh;
  vertical-align: middle;
  text-align: center;
  content: "10"; }
.piece-10 {
  line-height: 16vh; }

/*# sourceMappingURL=style.css.map */
